﻿@model MvcApplication7.Models.usuario

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>usuario</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_usuario)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Id_usuario)
            @Html.ValidationMessageFor(model => model.Id_usuario)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.user_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.user_name)
            @Html.ValidationMessageFor(model => model.user_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
