﻿@model MvcApplication7.Models.usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>usuario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Id_usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Id_usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.user_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.user_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
